@charset "utf-8";


.home-info {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  margin-top: 0px;
}

.notice, .news {
  border: 2px white solid;
  padding: 0px;
   margin: 0;
}

.notice h3, .news h3 {
  font-size: 20px;
  padding: 0px;
  margin: 0;
}

.notice ul, .news ul{
  font-size:13px;
  list-style: none; 
  
  margin: 0;               
  padding: 0;

}
