@charset "utf-8";

.aboutme{
display:flex;
  align-items: center;
  gap: 50px;
  margin: 30px auto;
}


.aboutme .me img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  display: block;
}

.myname h2{
  margin: 0 0 10px 0;
}


.myname p{
  margin: 0 0 5px 0;
}
