@charset "utf-8";
/* CSS Document */




body {
background: url('../pic/background.jpg') no-repeat center center fixed;
background-size:cover;
color: #FFF;
}





.header{
	display: flex; 
	align-items: center;
	width: 100%;
	background-color: rgba(19, 68, 109, 0.5); 
  color: white;
  padding: 15px 20px; 
  position: fixed;
  top: 0; 
  left: 0;

z-index: 1000;
box-sizing: border-box;
}


.header-logo {
  font-size: 30px;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}

.header-logo:hover {
  color: #959595;
}

.headerlist ul{
  font-size:20px;
  list-style: none;
	display: flex; 
}
.headerlist li {
  margin-left: 30px; 
}

.headerlist a {
  text-decoration: none;
  color: white; 
	
  transition: background 0.2s;
	transition: color 0.2s ease; 
}


.headerlist a:hover {
	color: #959595;
}

.selected{
	font-color: #959595;
}


.main{
	max-width: 700px;
  margin: 100px auto;
  padding: 20px;
 box-sizing: border-box;
}







h3{
	color:white;
}
