@charset "utf-8";





.main{
	max-width: 700px;
  margin: 100px auto;
  padding: 20px;
}







.no-dots {
  list-style: none; 
  padding-left: 0; 
}












.ticket-list {
  max-width: 260px;
  display: flex;              /* ← 必須：中央寄せが効くようになる */
  flex-direction: column;
  justify-content: center;    /* 上下方向の中央寄せ（任意） */
  align-items: center;        /* 左右方向の中央寄せ */
  gap: 30px;
  margin: 40px auto 0;        /* コンテナ自体も中央へ */
}




.ticket {
 display: block;
width: 260px; 
text-decoration: none; 
color: #555; 
}


 .ticket-inner {
 padding: 25px 20px; 
 background: #f8f3e7; 
transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

 .ticket:hover .ticket-inner { 
transform: translateY(-3px); box-shadow:
 4px 4px 0px rgba(51, 51, 51, 0.5); 
} 



.ticket-date {
 font-size: 12px;
 margin-bottom: 6px; 
 color: #777;  
} 

.ticket-to { 
font-size: 25px; 
 font-weight: bold; 
margin-bottom: 8px;
 }
