@charset "utf-8";
/* CSS Document */


body {
  background: #5cbccf;
}


.header{
	display: flex; 
	align-items: center; 
	width: 100%; 
	background-color: white;
  color: #5cbccf;
  padding: 15px 20px; 
  position: fixed; 
  top: 0; 
  left: 0;
  
	
	
z-index: 1000;
box-sizing: border-box;
}



.header-logo{
  font-size:30px;
  text-decoration: none;
  color: #5cbccf;
  transition: color 0.2s ease;
}

.header-logo:hover {
  color: #b0dde5;
}

.headerlist ul{
  font-size:20px;
  list-style: none; 
	display: flex; 
}
.headerlist li {
  margin-left: 30px; 
}

.headerlist a {
  text-decoration: none;
  color: #5cbccf; 
  transition: background 0.2s;
	transition: color 0.2s ease; 
}


.headerlist a:hover {
	color: #b0dde5;
}



.main{
	max-width: 700px;
  margin: 100px auto; 
  padding: 20px;
  color:white;
  box-sizing: border-box;
}








.characters {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  flex-wrap: wrap; 

.char {
  width: 150px; 
  text-align: center;
}

.char img {
  width: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: cover;
  border-radius: 8px;
}

.char p {
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: left;
}












.no-dots {
  list-style: none; 
  padding-left: 0;  
}
